{% extends 'blog/Base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-sm mt-5">
  <div class="col-sm">
    <div class="jumbotron">
      <div class = "row">
        <div class = "col-md-6">
          <h1 class="display-4 mb-4">Add New Category</h1>
          <div class = "row">
            <div class = "col-md-6">
                <a class = "btn btn-info btn-block mb-3" href = "{% url 'add-post' %}">Add New Post</a>
            </div>
            <div class = "col-md-6">
                <a class = "btn btn-info btn-block mb-3" href = "{% url 'posts' %}">View Post List</a>
            </div>
        </div>
        </div>
      </div>
      <form action="" method="post" autocomplete="off">
        {%csrf_token%}
        {{form.blog_categories|as_crispy_field}}
            <button class="btn btn-secondary btn-md btn-block" type = "submit">Add Category</i></button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
