<footer class="footer">
    <div class="container">
        <div class="columns">
           
        <div class="content has-text-centered">
            <p>
                <a class="icon" href="https://github.com/BulmaTemplates/bulma-templates">
                    <i class="fa fa-github"></i>
                </a>
            </p>
            <div class="control level-item">
                <a href="https://github.com/BulmaTemplates/bulma-templates">
                    <div class="tags has-addons">
                        <span class="tag is-dark">Bulma Templates</span>
                        <span class="tag is-info">MIT license</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <script src="../js/bulma.js"></script>

</footer>