{% extends 'blog/Base.html' %}

{% block content %}

<body>
<section class="container mt-6">
<h1 class = "text-center mb-5">Trending Categories</h1>

<!--Category card begins here-->



<div class="row">
  {%  for categoriescard in trendingcategories %}
  <div class="col-lg-3 col-sm-6 col-xs-12">
    <img src="{{ Categories.category_img.url }}" alt="image" />
    <h5 class="card-title">{{categoriescard.blog_categories}}</h5>
    <p class="card-text">{{categoriescard.category_summary}}</p>
    <div>
      <small>{{categoriescard.created_at}}</small>
    </div>
    <a href="#" class="btn btn-primary">View Category</a>

  </div>
  {% if forloop.counter|divisibleby:4 %}
</div>
<div class="row">
  {% endif %}
  {% endfor %}
</div>
</section>

<section>
  <div class="row">
    <div class="col-md-9">
      hi there. this is a div with nine columns
    </div>
    <div class="col-md-3">
      hi there. this is a div with three columns
    </div>
  </div>
</section>

{% endblock %}