{% extends 'blog/nav.html' %}

{% block content %}
<title>{{ BlogList }}</title>

<div class="container mt-5">
  <div class="col-sm">
    <div class="jumbotron pt-5">
      <h1 class="display-4 mb-4">List Of Posts</h1>
      <a class = "btn btn-outline-primary btn-block mb-3 col-md-2" href = "{% url 'add-post' %}">
        <i class="fa fa-plus"></i>
        Add A Post
      </a>

      <table class="table table-hover mt-1 display-6" id = "myTable">
        <thead class = "thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Post Title</th>
              <th scope="col">Status</th>
              <th scope="col">Category</th>
              <th scope="col">Created At</th>
              <th scope="col">Actions</th>

            </tr>
          </thead>
          <tbody>
            {% for post in posts %}
            <tr>
              <td>{{post.id}}</td>
              <td>{{post.title}}</td>
              <td>{{post.status}}</td>
              <td>{{post.category}}</td>
              <td>{{post.created_at}}</td>
              <td>
                <a href='/update-post/{{post.id}}/' class="btn text-secondary px-0">
                  <i class="fa fa-edit fa-lg" style="color:#147efb"></i>
                </a>
                <form action="{% url 'delete-post' post.id %}" method = "POST" class = 'd-inline'>
                  {% csrf_token %}
                  <button type="submit" class="btn"><i class="fa fa-trash fa-lg" style="color:#fb1433"></i></button>
                </form>
                
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}